#root {
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  height: 10vh;
  width:100%;
  background-color: whitesmoke;
  position: absolute;
  top:0;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  margin: 0;
}
.logo{
  width:15vw;
  height: 100%;
}
.register{
  height: 6vh;
  color: white;
  background-color: red;
}
input{
  width: 25vw;
height: 6vh;
  font-size: 1vw;
}
.Input{
  display: flex;
  justify-content: center;
}
.search{
  width:2vw;
  height: 4vh;
}

footer{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 10vh;
  margin-top:24vh;
  width: 100%;
}
footer p{
  margin: 2vw;
}
.info{
  color: goldenrod;
}
@media all and (orientation: portrait){
.logo{
  width:20vw;
}
input{
  font-size: 4vw;
  height: 5vh;
  margin-top: 4vw;
}
.search{
  height: 3vh;
  width: 5vw;
}
.searchBtn{
  height: 5vh;
  margin-top: 4vw;
  width:10vw;
  padding: 1vw;
}
.register{
  width: 20vw;
  font-size: 4vw;
  padding: 0.5vw;
  margin-top: 2vw;
}
footer{
  margin-top:28vh;
  height: 8vh;
}
.info{
  font-size: 4vw;
}
}